*{
    padding: 0;
    margin: 0;
    background-color: rgb(13, 56, 87);
}
body{
    width: 100vw;
}


/* style welcome */


@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  

.tictac{
    padding-top: 50px;
    color:  rgb(13, 56, 87);
    display: flex;
  
    justify-content: center;

    animation: wiggle 2s linear infinite;


}
.border-tictac{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px !important;
    height: 50px !important; 
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 
 

}
/* 
.container{

    display: flex;
    flex-direction: column;
    
   
} */

.form{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 7;
   
}
.player{
    display: flex;
    flex-direction: column;
}
.player2{
    margin-top: 7px;
}
.form input{
  
    width: 400px;
    height: 40px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    
}
.form a{
    text-decoration: none;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    font-size: 1.5rem;
    color:  rgb(13, 56, 87);
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 2rem ;
    padding: 10px;
    border-radius: 5px;
    margin:26px ;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    
}




/* end style welcome */


.game-container {
    
    display: grid;
    gap: 5px;
    max-width: 600px;
    height: 80vh;
    width: 100vw;
    margin: 0 auto;
    grid-template-columns: repeat(20, auto);
    margin: 0 auto;
    padding-top: 40px;
    /* padding-bottom: 40px; */  
}





.cell {
  
    /* width: 30px;
    height: 30px; */
    box-shadow: rgba(223, 215, 215, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: white;
    /* background-color: #3f8ab3; */
    cursor: pointer;
    /* box-shadow:  #024164 0px 5px 15px; */

} 
/* Add styling for the message and reset button */
/* .message {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
} */
/* 
.reset-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */ 
